<div class="container-fluid">  
    <div data-widget-group="group1">

		<div class="panel panel-default" data-widget='{"draggable": "false"}'>
			<div class="panel-heading">
				<h2>Manage Patient Data</h2>
				<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
			</div>
			<div class="panel-editbox" data-widget-controls=""></div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-6">
		                <div class="form-group">
							<label for="selector1" style="font-size:25px">Check Duplicate of Patients</label>
							<div class="tabular-border">
								<select name="selector1" ng-model="patientAttribute" ng-change="enableFields(patientAttribute)" id="selector1" class="form-control">
									<option value=" ">Select ...</option>
									<option value="identificationCode">Identification code</option>
									<option value="mobileNumber">Mobile Number</option>
								</select>
							</div>
						</div>
						<div class="form-group" ng-show="showIdentificationField">
							<label for="identificationCode" style="font-size:25px">Identification Code</label>
							<input type="email" class="form-control" ng-model="identificationCode" id="identificationCode" placeholder="Enter Identification Code">
							<button class="btn btn-primary" id="submit" ng-click="searchPatient(identificationCode)">Check</button>
						</div>
						<div class="form-group" ng-show="showMobileNumberField">
							<label for="mobileNumber" style="font-size:25px">Mobile number</label>
							<input type="email" ng-model="mobileNumber" class="form-control" id="mobileNumber" placeholder="Enter mobile number">
							<!--button class="btn btn-primary" id="submit" ng-click="searchPatient(mobileNumber)">Check</button-->
						</div>
					</div>
				</div>
				
				<div id="alertBox" class="alert alert-info" ng-show="showAlert"> 
				    <h3>{{patients.length}} duplicated found <br/></h3>
			    </div>

					<div clas="row" ng-show="patients.length > 0">
						<div class="col-sm-12">
						        <table class="table table-striped table-bordered">
									<thead>
										<tr class="info">
										    <th>ID</th>
										    <th>Indentification Code</th>
										    <th>First Name</th>
										     <th>Last Name</th>
										    <th>Gender</th>
											<th>Age</th>
											<th>Birthdate</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="patient in patients track by $index" class="odd gradeX">
											<td>{{ patient.id }} </td>
											<td>{{ patient.identification_code }} </td>
											<td>{{ patient.first_name }} </td>
											<td>{{ patient.last_name }} </td>
											<td>{{ patient.gender }} </td>
											<td>Not available </td>
											<td>{{ patient.birthdate }} </td>
										</tr>
									</tbody>
								</table>
						</div>
					</div>
				<div class="panel-footer"></div>
		    </div>
	    </div>
    </div>
</div>