<div class="container-fluid">  
    <div data-widget-group="group1">
		<div class="panel panel-default" data-widget='{"draggable": "false"}'>
			<div class="panel-heading">
				<h2>Manage Patient Data</h2>
				<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
			</div>
			<div class="panel-editbox" data-widget-controls=""></div>
			<div class="panel-body">
			    <div class="row">
					<div class="col-sm-5">
						    <form class="form-inline" role="form">
			                <div class="form-group">
								<label for="selector1" style="font-size:25px">Check Duplicate of Patients</label>
								<select name="selector1" ng-model="patientAttribute" ng-change="enableFields(patientAttribute)" id="selector1" class="form-control">
										<option value=" ">Select ...</option>
										<option value="identificationCode">Identification code</option>
										<option value="mobileNumber">Mobile Number</option>
									</select>
							</div>
							</form>
						</div>
						<div class="col-sm-7">
						<div ng-show="showIdentificationField">
							<form class="form-inline" role="form">
							<div class="form-group">
								<label for="identificationCode" style="font-size:25px">Identification Code</label>
								<input type="text" class="form-control" ng-model="identificationCode" id="identificationCode" placeholder="Enter Identification Code">
						    </div>
							<button class="btn btn-primary" id="checkCodeBtn" ng-click="existIdentityCode(identificationCode)">Check Duplicate Code</button>
							</form>
						</div>

						<div ng-show="showMobileNumberField">
							<form class="form-inline" role="form">
							<div class="form-group">
								<label for="mobileNumber" style="font-size:25px">Mobile number</label>
								<input type="text" ng-model="mobileNumber" class="form-control" id="mobileNumber" placeholder="Enter mobile number">
							</div>
							<button class="btn btn-primary" id="checkMobileNum" ng-click="existMobileNumber(mobileNumber)">Check Duplicate Number</button>
							</form>
						</div>
					</div>
				</div>

				<div id="alertBox" class="alert alert-info" ng-show="showAlert"> 
					    <h3>{{patients.length}} duplicate(s) found <br/></h3>
				</div>

				
                <h4>Merge Duplicated Patients</h4>
				<a data-toggle="modal" href="ui-modals.html#myModal" class="btn btn-primary btn-lg">Click to Start Merging</a>

				<!-- Modal -->
				<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h2 class="modal-title">Merge Patients</h2>
							</div>
							<div class="modal-body">
							<form class="form-inline" role="form">
								<div class="form-group">
									<label for="firstID">First Patient ID</label>
									<input type="text" ng-model="firstID" class="form-control" id="firstID" placeholder="Enter first ID">
								</div>
								<div class="form-group">
									<label for="secondID">Second Patient ID</label>
									<input type="text" ng-model="secondID" class="form-control" id="secondID" placeholder="Enter second ID">
								</div>
								<button type="button" class="btn btn-primary" ng-click="checkSimilarAttributes(firstID, secondID)">Merge</button>
								<button type="button" class="btn btn-primary" ng-click="delete(firstID)">Delete</button>
							</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
				</div>
			</div>
	    </div>
    </div>
</div>