<div class="container-fluid">  
    <div data-widget-group="group1">

		<div class="panel panel-default" data-widget='{"draggable": "false"}'>
			<div class="panel-heading">
				<h2>Manage Patient Data</h2>
				<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
			</div>
			<div class="panel-editbox" data-widget-controls=""></div>
			<div class="panel-body">
				<h3>Patients duplicates</h3>

				<hr>


				<h2>Merge patients</h2>


			    <div class="panel-footer"></div>
		    </div>
	    </div>
    </div>
</div>