<div class="container-fluid">  
    <div data-widget-group="group1">
        <div class="panel panel-default" data-widget='{"draggable": "false"}'>
		<div class="panel-heading">
			<h2>Searching Patient</h2>
			<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
		</div>
		<div class="panel-editbox" data-widget-controls=""></div>
		<div class="panel-body">
			<form class="form-inline" role="form">
						<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label class="" style="font-size:18px">Find Patient</label>
								<input id="findPatient" type="text" class="form-control" ng-model="searchValue" placeholder="enter code or name">
							</div>
							<a class="btn btn-primary" id="submit" ng-click="searchPatient(searchValue)">Search</a>
				       </div>
			</form>

			<div clas="row">
				<div class="col-sm-12">
				<div id="alertBox" class="alert alert-info" ng-show="showAlert"> 
				    <h4>{{patients.length}} patient(s) found<br/></h4>
			    </div>
			    <a ng-show="patients.length == 0" class="btn btn-primary" id="submit" href="./#register">Add a Patient</a>
				<div ng-show="patients.length > 0">
				    <h4><b>Searched value was: {{searchedValue}}</b></h4>
					<table class="table table-striped table-bordered">
					<thead>
						<tr class="info">
						    <th>ID</th>
						    <th>Indentification Code</th>
						    <th>First Name</th>
						     <th>Last Name</th>
						    <th>Gender</th>
							<th>Age</th>
							<th>Birthdate</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="patient in patients track by $index" class="odd gradeX">
							<td>{{ patient.id }} </td>
							<td>{{ patient.identification_code }} </td>
							<td>{{ patient.first_name }} </td>
							<td>{{ patient.last_name }} </td>
							<td>{{ patient.gender }} </td>
							<td>Not available </td>
							<td>{{ patient.birthdate }} </td>
						</tr>
					</tbody>
				</table>
				</div>
				</div>
			</div>
			</div>
			</div>
		<div class="panel-footer"></div>
	</div>
</div>