	<div data-widget-group ="group1">
			<div class="panel panel-default" data-widget='{"draggable": "false"}'>

			<div class="panel-heading">
				<h2>Patient Basic Information</h2>
			</div>
			<div class="panel-editbox" data-widget-controls=""></div>
			<div class="panel-body">
				<form class="form-horizontal row-border">
					<div class="form-group">
				    <label class="col-sm-2 control-label">First Name</label>
					  <div class="col-sm-8">
	            	<input type="text" class="form-control" placeholder="First Name">
						</div>
					</div>

	        <div class="form-group">
				    <label class="col-sm-2 control-label">Middle Name</label>
					  <div class="col-sm-8">
	            	<input type="text" class="form-control" placeholder="Middle Name">
						</div>
					</div>

	        <div class="form-group">
				    <label class="col-sm-2 control-label">Last Name</label>
					  <div class="col-sm-8">
	            	<input type="text" class="form-control" placeholder="Last Name">
						</div>
					</div>

					<div class="form-group">
			        <label class="col-sm-2 control-label">Gender</label>
			        <div class="col-xs-9">
			            <div class="btn-group" data-toggle="buttons">
			                <label class="btn btn-default">
			                    <input type="radio" name="gender" value="male" /> Male
			                </label>
			                <label class="btn btn-default">
			                    <input type="radio" name="gender" value="female" /> Female
			                </label>
			                <label class="btn btn-default">
			                    <input type="radio" name="gender" value="other" /> Other
			                </label>
			            </div>
			        </div>
			    </div>

	    		<div class="form-group">
	          <label class="col-sm-2 control-label">Date of Birth</label>
	          <div class="col-sm-8">
	            <div class="input-group date">
	              <span class="input-group-addon">
									<i class="ti ti-calendar"></i>
								</span>
	              <input type="date" class="form-control">
	            </div>
	          </div>
	        </div>

				<div class="form-group">
						<label class="col-sm-2 control-label">Mobile Number</label>
						<div class="col-sm-8">
								<input type="text" class="form-control" placeholder="Mobile Number">
						</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Street</label>
					<div class="col-sm-8">
							<input type="text" class="form-control" placeholder="Street">
					</div>
				</div>


					<div class="form-group">
				    <label class="col-sm-2 control-label">District</label>
					  <div class="col-sm-8">
	            	<input type="text" class="form-control" placeholder="District">
						</div>
					</div>

					<div class="form-group">
				    <label class="col-sm-2 control-label">Region</label>
					  <div class="col-sm-8">
	            	<input type="text" class="form-control" placeholder="Region">
						</div>
					</div>

					<div class="form-group">
				    <label class="col-sm-2 control-label">Country</label>
					  <div class="col-sm-8">
	            	<input type="text" class="form-control" placeholder="Country">
						</div>
					</div>

				</form>
			</div>

			<div class="panel-footer">


			</div>

		</div>

		<div data-widget-group ="group1">
				<div class="panel panel-default" data-widget='{"draggable": "false"}'>

		<div class="panel-heading">
			<h2>Patient Additional Information</h2>
		</div>
		<div class="panel-editbox" data-widget-controls=""></div>
		<div class="panel-body">

			<form class="form-horizontal row-border">
				<div class="form-group">
					<label class="col-md-2 control-label">Email Address</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-envelope-o"></i>
								</span>
								<input type="text" class="form-control" placeholder="Email Address">
							</div>
          	</div>
				</div>

					        <div class="form-group">
					          <label class="col-md-2 control-label">Password</label>
					          <div class="col-md-8">
					            <div class="input-group">
					              <span class="input-group-addon">
					                <i class="fa fa-key"></i>
					              </span>
					              <input type="password" required class="form-control" id="pass" placeholder="Password" data-trigger="hover" data-toggle="popover" data-content="It should have 8 or more characters that contain atleast a Block letter, a small letter and a special character or a numeral" data-original-title="Password">
					            </div>
					          </div>
					        </div>

									<div class="form-group">
					          <label class="col-md-2 control-label">Confirm Password</label>
					          <div class="col-md-8">
					            <div class="input-group">
					              <span class="input-group-addon">
					                <i class="fa fa-key"></i>
					              </span>
					              <input type="password" data-parsley-equalto="#pass" required class="form-control" placeholder="Confirm Password">
					            </div>
					          </div>
					        </div>
			</form>
		</div>

		<div class="panel-footer">

							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<button class="btn-primary btn">Submit</button>
									<button class="btn-default btn">Cancel</button>
								</div>
							</div>

		</div>

		</div>
		</div>
